.message-input{
    
    width: 100%;
    text-align: center;
    position: relative;
}

.message-input--white{
    color: var(--white);
}

.message-input__input{
    font-family: var(--font-family);
    
    border-style: none;
    resize: none;
    
    width: 91%;
    margin: auto;
    margin-bottom : 1px;
    padding: 10px;
    background-color: var(--grey-secondary);
    border-radius: 20px;
}

.message-input__input:focus{
    outline: none;
}

.message-input__input--default{
    font-weight: none;
    color: var(--white);
}