.message-panel {
    width : 100%;
    height: 100%;
}

.message-panel__tabs{
    height: 5%;
}

.message-panel__messages{
    height: 87%;
    overflow-x: hidden;
    overflow-y: auto;

    
    padding: 0;
    margin: 0;
}

.message-panel__input{
    height: 8%;
}

.message-panel__input__line{
    height: 0px;
    width: 97%;
    margin: 10px auto;

    border-top-width: 1px;
    border-top-style: solid;
    border-color: var(--text-muted);
}


.message-box{
    list-style-type: none;
    margin-top: 1rem;

    padding : 7px 10px;
}

.message-box--default{
    color : var(--white);
}

.message-box__content{
    user-select: text;

    word-break: break-word;

    display: inline;
    hyphens: auto;
}

.message-box__timestamp{
    user-select: none;
}

.message-box__timestamp--default{
    color: var(--text-muted);
}

.message-box__user_icon{
    width: 10%;
    margin: 0 auto;
    padding: 0 5px;
}

.message-box__message-content{
    width: 90%;
}