.authPage {
  height: 100vh;
}

.authPageDialogBox {
  width: 500px;
}

.authPageDialogBoxContent {
  padding: 15px 10px;
  border-radius: var(--border-radius);
  background-color: var(--white);
}

.authPageMessage > p {
  color: var(--text-muted);
  text-align: center;
}

.authPageMessage span {
  margin-left: 5px;
  color: var(--blue);
  cursor: pointer;
}

.authPageMessage span:hover {
  text-decoration: underline;
}
