.text{

}

.text__input-container{
    padding: 0 15px;
    height: 60px;

    display: flex;
    flex-direction: row;
}

.text__label{
    text-align: left;
    width: 100%;
    display: block;
    margin: 10px 0;
}

.text__input-container__icon{
    width: 10%;
    color: var(--text-muted);
}

.text__input-container__input{
    width: 90%;
}