.music-player-container{
    background-color: var(--grey-primary);
    height: 150px;
}

.music-player-control-button{ 
    color: var(--WHITE);
}

.play-button:hover{
    background-color: var(--red);
    cursor: pointer;
}