.textarea{
    height: 100%;
    width: 100%;
    
    position: relative;
}

.textarea--white{
    color: var(--white);
}

.textarea__input-container{

    font-family: var(--font-family);
    border-style: none;
    resize: none;
    
    width: 100%;
    margin: 0 3px;
    margin-bottom : 1px;
    padding: 10px;
    background-color: var(--grey-secondary);
    border-radius: var(--border-radius);
    min-height: 85%;
}


.textarea__input-container--default{
    font-weight: none;
    color: var(--white);
    
}