
.room-container{
    width: 100vw;
    height: 100vh;    
    background-color: black;
}

.room-left-container{
    background-color: var(--WHITE);
    width: 20%;
}

.room-central-container{
    width: 60%
}

.room-central-holder{
    height: 80vh;
}

.player-control-container{
    height: 20vh;
}

.room-right-container{
    width: 20%;
    background-color: var(--WHITE);
}


.search-panel{
    height: 100%;
}

.search-area{
    height: 10%;
    color: white;
    padding: 10px;
}

.search-results{
    height: 90%;
    overflow-y: auto;
}

.result-block{
    height: 100px;
}

.result-img-container{
    padding: 5px;
}