
.room{
    height: calc(100vh - 61px);
    width: 100%;
    background-color: black;
}

.room__room-left{
    background-color: var(--grey-primary);
    width: 20%;
    min-width: 345px;
    
    overflow: hidden;
}

.room__room-central{
    width: 60%;
    overflow: hidden;
}

.room__room-right{
    min-width: 300px;
    width: 20%;
    overflow: hidden;
    background-color: var(--grey-primary);
}

.room__player-display-box{
    height: 90%;
}

.player-control-container{
    height: 10%;
    background-color: var(--grey-primary);
}

.room__player-disk{
    height: 260px;
    width: 260px;
    background-color: #f0f;
    border-radius: 230px;
    margin: auto;

    background-repeat: no-repeat;
    background-position: center;
    
    animation-name: spin;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 


}


@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
