
.room{
    height: 100%;
    width: 100%;
    background-color: black;
    overflow: hidden;
    display: grid;
    grid-template-rows: 92vh 8vh;
}

.room__room-main{
    grid-row-start: 1;
    grid-row-end : 2;

    grid-template-columns: 20% 60% 20%;
}

.room__player-control-container{
    grid-row-start: 2;
    grid-row-end: 3;
    
    background-color: var(--b1);
}

.room__room-left{

    width: 20%;
    background-color: var(--b2);
    min-width: 345px;
    overflow: hidden;
}

.room__room-central{
    width: 60%;
    overflow: hidden;
    background-color: var(--b4);
}

.room__room-right{

    width: 20%;
    min-width: 345px;
    overflow: hidden;
    background-color: var(--b2);
};
