
.room{
    height: calc(100vh - 50px);
    width: 100%;
    background-color: black;
}

.room__room-left{
    background-color: var(--grey-primary);
    width: 20vw;
    min-width: 300px;
    
    overflow: hidden;
}

.room__room-central{
    width: 60vw;
    overflow: hidden;
}

.room__room-right{
    width: 20vw;
    overflow: hidden;
    background-color: var(--grey-primary);
}

.player-display-box{
    height: 85%;
}

.player-control-container{

    height: 15%;
    background-color: var(--grey-primary);
}

.player-disk{
    height: 230px;
    width: 230px;
    background-color: #f0f;
    border-radius: 230px;
    margin: auto;

    background-repeat: no-repeat;
    background-position: center;
    
    animation-name: spin;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 

    box-shadow: 
    0 0 3rem #fff,
    0 0 5rem #f0f,
    0 0 7rem rgb(0, 17, 255),
    0 0 10rem #f0f

}


@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
