.text-main{
    font-size: 25pt;
    font-weight: bold;
}

.text-3{
    font-size: 18px;
}

.text-4{
    font-size: 15px;
}

.text-5{
    font-size: 13px;
}

.text-ellipsis{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
