.search-panel{
    height: 100%;
    min-width: 300px;
}

.search-area{
    color: var(--white);
    width: 90%;
    padding: 0 10px;
    height: 2.6%;
    padding: 10px;
}

.search-area__input{
    color: var(--white);
    border-color: "white";
}

.search-result-list{
    padding: 0;
}

.search-results{
    height: 95%;
    overflow-y: auto;
    scrollbar-width: none;
    padding-left: 5px;
}

.search-results .result-block:nth-child(2n){
    background-color: var(--grey-secondary);
}


.search-panel__content{
    height: 95%;
}

.search-panel__tabs{
    height: 5%;
}