.search-panel{
    height: 100%;
    min-width: 300px;
}

.search-area{
    color: var(--white);
    width: 90%;
    padding: 0 10px;
    height: 2.6%;
    padding: 10px;
}

.search-result-list{
    padding: 0;
}

.search-results{
    height: 95%;
    overflow-y: auto;
    scrollbar-width: none;
    padding-left: 5px;
}

.search-results .result-block:nth-child(2n){
    background-color: var(--grey-secondary);
}

.result{
    color: var(--white);
    height: 90px;
    margin: 0;
}

.result__img{
    padding: 0 0 5px 0;
    width: 35%;
}

.result__desc{

    width: 65%;
    padding: 0 5px;
}

.result__desc__text{
    min-width: 120px;
    width: 80%;
}

.result__desc__text__title{
    overflow: hidden;
    font-size: 10pt;
    margin-top: 5px;
    margin-bottom:  5px;
}

.result__desc__text__channel-name{
    font-size: 6.5pt;
    margin-top: 5px;
}

.result__desc__text p{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.result__desc__button{
    width: 20%;
}

.search-panel__content{
    height: 95%;
}

.search-panel__tabs{
    height: 5%;
}