
/* display-toast */
.Toastify__toast { 
    border-radius: var(--border-radius);
}

.Toastify__toast-body{
    text-align: center;
}

.Toastify__toast--warning {
    color: var(--red);
    background-color : var(--red-secondary);
}