.explore-container{
    padding: 20px 0;
}


.rooms-container{
    width: 100%;
    height: calc(100vh - 150px);
    margin: 0 auto;
    margin-top: 15px;
    overflow-y: auto;
    overflow-x: hidden;
}