.user-profile{
    display: inline-block;
}

.user-profile__circle{
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 50%;
    border-radius: 50%;
}

.user-profile__circle--default{
    background-color: var(--purple);
}