@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");


:root{

  --BLACK: black;
  --WHITE: white;
  --grey-primary: rgb(58, 58, 58);
  --grey-secondary: rgb(77, 76, 76);

  --green-primary: rgb(28, 255, 47);
  --red: rgb(228, 68, 68);


  --box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
  --font-large: 40px;
  --font-medium: 25px;
  --font-small: 15px;
}


body {
  margin: 0;
  font-family: 'Nunito', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--BLACK);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#player{
  display: none;
}