@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap');


:root{

  --black: black;
  --white: white;
  --grey-primary: rgb(47, 47, 47);
  --grey-secondary: rgb(77, 76, 76);
  --text-muted: #72767d;

  --red:#e01626;
  --yellow : #fac02d;
  --dark-blue: #14213d;
  --purple: #9b5de5;
  --pink : #e02d76;
  --green: #8ac926;
  --aqua : #00f5d4;

  --b1 : #1d1f23;
  --b2 : #121218;
  --b3 : #0d1436;
  --b4 : #2d2e33;

  --light-blue: #00bbf9;
  --box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
  --font-family : 'PT Sans Caption', sans-serif !important;
  --border-radius: 8px;
  --dialog-z: 10;
  --below-dialog : 5;
}

.red{
  color: var(--red);
}

.yellow{ 
  color: var(--yellow);
}

.purple{
  color: var(--purple);
}

.pink{
  color: var(--pink);
}

.light-blue{
  color: var(--light-blue);
}

.aqua{
  color: var(--aqua);
}


::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-track {
  background: transparent;
}


body {
  scrollbar-width: none;
  margin: 0;
  font-family: 'PT Sans Caption', sans-serif !important;
  -ms-overflow-style: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--b2);
}

a{
  text-decoration: none;
}

.content-container{
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#player-root{
  display: none;
}