@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap');


:root{

  --BLACK: black;
  --WHITE: white;
  --grey-primary: rgb(47, 47, 47);
  --grey-secondary: rgb(77, 76, 76);

  --green-primary: rgb(28, 255, 47);
  
  
  --box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;

  --font-family : 'PT Sans Caption', sans-serif !important;
  --font-large: 40px;
  --font-medium: 25px;
  --font-small: 15px;


  --border-radius: 10px;
  
  --red:#e32359;
  --yellow : #f5a72f;
  --dark-blue: #131646;
}


::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-track {
  background: transparent;
}


body {
  scrollbar-width: none;
  margin: 0;
  font-family: 'PT Sans Caption', sans-serif !important;
  -ms-overflow-style: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--dark-blue);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#player{
  display: none;
}