.rooms-list {
    display: grid;
    grid-template-rows: 33% 33% 33%;
    grid-template-columns: 33% 33% 33%;
    min-width: 1100px;
}


.room-box{
    color : var(--white);

    min-width: 350px;
    width: 95%;

    min-height: 350px;
    margin: 10px auto;

    text-align: center;
}

.room-box__text{
    margin: auto;
    padding: 10px;
}

.room-box:hover{
    cursor: pointer;
    transition: 0.2s;
    box-shadow: inset 0 0 10px #000000;
}

.spinner-container{
    width: 100%;

}