.input-outline{
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    border-radius: 5px;
    overflow: hidden;
}


.input-outline--light{
    border-color: var(--text-muted);
}

.input-outline--light:hover svg, .input-outline--light:hover{
    color: white;
    border-color: var(--white);
    transition: 0.3s;
}


.input-outline--dark{
    border-color: var(--black);
}

.input-box{
    appearance: none;
    -webkit-appearance: none;
    height: 100%;

    background-color: transparent;
    outline: none;
    border-width: 0;
    font-size : 18px;
}

.input-label{
    font-size: 17px;
}



.dark{
    color: var(--black);
}

.light{
    color: var(--white);
}